extends ../layout
block head-css
    link(rel='stylesheet', href='//cdn.jsdelivr.net/select2/4.0.3/css/select2.min.css')
block content
    .row
        .col-md-12
            a.btn.btn-info.J_post(href='/admin/notification/add') 发私信
            table.table.table-striped
                thead
                    tr
                        th 内容
                        th 来自
                        th 发给
                        //th 是否已读
                        th 未读
                        th 已读
                        th 时间
                        th 
                           if (own) 
                              | 操作
                        //- th 操作
                tbody
                    - each notification in notifications
                        tr
                            td 
                               a(href='/admin/notification/#{notification.id}') #{notification.content}
                            td #{notification.from.realname}
                            td 
                                each item in notification.to
                                    span.badge.badge-default #{item && item.realname}
                            //td #{notification.isRead ? '已读' : '未读'}
                            td
                                each item in notification.unread
                                    span.badge.badge-default #{item && item.realname}
                            td
                                each item in notification.read
                                    span.badge.badge-default #{item && item.realname}
                            td
                                | #{moment(notification.created).format('LLL')}
                            td   
                                if (own) 
                                   a.btn.btn-danger.btn-xs.J_del(href='/notification/#{notification.id}/del') 删除
                            //- td
                            //-     a.btn.btn-danger.btn-xs.J_del(href='/notification/#{notification.id}/del') 删除
            //- if (pageInfo && pageInfo.totalPage > 1)
            //-     - pageInfo.query = query
            //-     include ../mixin
            //-     +pagination(pageInfo)
    script#J_tmpl_add(type='x-tmpl-mustache')
        .form-group
            label 收信人
            //input.form-control(name='kw')
            select.form-control.J_to_users(name='kw', style='width: 60%', multiple='multiple')
                
        .form-group
            label 内容
            textarea.form-control(rows='4')
block foot-js
    script(src='//cdn.jsdelivr.net/select2/4.0.3/js/select2.min.js')
    script.
        //var user = !{JSON.stringify(User)};
        var token = '#{token}';
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(document).on('click', '.J_post', function(e) {
            e.preventDefault();
            var $this = $(this);
            var url = $this.attr('href');
            var request = function(to, content, dialog) {
                $.post(url, {
                    to: to,
                    content: content
                }, function(json) {
                    console.log(json);
                    dialog.close();
                    swal('发送成功!', '', 'success')
                });
            };
            
            var $dialog = BootstrapDialog.show({
                title: '发送私信',
                message: $('<div/>').append($('#J_tmpl_add').html()),
                buttons: [
                    {
                        label: '发送',
                        cssClass: 'btn-primary',
                        action: function(dialog) {
                            var to = dialog.$modalBody.find('.J_to_users').val();
                            //- const to = $('.J_to_users').val();
                            console.log(to);
                            const content = dialog.$modalBody.find('textarea').val();
                            //- request(to, content, dialog);
                            const data = {
                                recive: to,
                                content: content,
                            }
                            axios.post('/admin/notification/add',data)
                               .then((response) => {
                                   if (response.data.success) {
                                       dialog.close();
                                       swal('发送成功','', 'success');
                                   }
                               })
                        }
                    },
                    {
                        label: '取消',
                        action: function(dialogItself) {
                            dialogItself.close();
                        }
                    }
                ]
            });
            $dialog.$modalBody.find(".J_to_users").select2();
            $('.J_to_users').val('');
            $('.J_to_users').trigger('change');
            axios.get('/admin/user/query')
               .then((response) => {
                   if (response.data.success) {
                       $('.J_to_users option').remove();
                       for (let i = 0; i < response.data.items.length; i++) {
                           $('.J_to_users').append(new Option(response.data.items[i].nick,response.data.items[i]._id));
                       }
                   }
               });
        });

        $(document).on('click', '.J_del', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $tr = $this.closest('tr');
            var url = $this.attr('href');
            var messenger = Messenger().post("处理中...");
            $.post(url, {_csrf: token}, function(json) {
                console.log(json);
                var success = json.success;
                if(success === true) {
                    messenger.update({
                        message: '删除成功',
                        hideAfter: 3,
                        type: 'success'
                    });
                    $tr.remove();
                } else {
                    messenger.update({
                        message: '删除失败',
                        hideAfter: 3,
                        type: 'error'
                    });
                }
            })
        });
