extends ../layout

block content
    .row
        .col-md-12
            form(action='', method='post')
                .form-group
                    label 用户名
                    input.form-control(name='e_nick', value='#{user.nick}')
                .form-group
                    label 姓名
                    input.form-control(name='e_realname', value='#{user.realname}')
                .form-group
                    label 角色
                    select.form-control.input-sm(multiple, name='e_roles')
                            if (user.roles === 2)
                                option(value='#{user.roles}', selected)
                                    | 管理员
                                option(value='#{user.roles}')
                                    | 普通用户
                            else
                                option(value='#{user.roles}', selected)
                                    | 普通用户
                                option(value="#{user.roles}")
                                    | 管理员
                input(type='hidden', name='_csrf', value='#{token}')
                button.btn.btn-primary(type='submit') 提交

block foot-js
    script.
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(function() {
            var messenger;
            $('form').ajaxForm({
                beforeSerialize: function() {
                    console.log('beforeSerialize')
                },
                beforeSubmit: function() {
                    console.log('beforeSubmit')
                    messenger = Messenger().post("处理中...");
                },
                success: function(data, status, xhr, $form) {
                    console.log(data)
                    var status = data.status;
                    if (status) {
                        messenger.update({
                            message: '更新成功',
                            hideAfter: 3,
                            type: 'success'
                        });
                    } else {
                        messenger.update({
                            message: '更新失败',
                            hideAfter: 3,
                            type: 'success'
                        });
                    }
                },
                err: function() {
                    console.log('error')
                    messenger.update({
                        message: '系统繁忙',
                        hideAfter: 3,
                        type: 'success'
                    });
                }
            })
        })