extends ../layout

block content
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading
                    | 用户信息
                .panel-body
                    .form-horizontal
                        .form-group
                            label.col-sm-2.control-label ID
                            .col-sm-10 
                                p.form-control-static #{user.id}
                        .form-group
                            label.col-sm-2.control-label 用户名
                            .col-sm-10 
                                p.form-control-static #{user.nick}
                        .form-group
                            label.col-sm-2.control-label 姓名
                            .col-sm-10 
                                p.form-control-static #{user.realname}
                        .form-group
                            label.col-sm-2.control-label 手机号
                            .col-sm-10 
                                p.form-control-static #{user.mobile || '无'}
                        .form-group
                            label.col-sm-2.control-label 性别
                            .col-sm-10 
                                p.form-control-static #{user.gender || '无'}
                        .form-group
                            label.col-sm-2.control-label 角色
                            .col-sm-10 
                                p.form-control-static
                                    if (user.roles === 2)
                                       span.label.label-info
                                           | 管理员
                                    if (user.roles === 1) 
                                       span.label.label-info
                                           | 普通用户
                        //- .form-group
                        //-     label.col-sm-2.control-label 注册时间
                        //-     .col-sm-10
                        //-         p.form-control-static #{moment(user.created).format('LLL')}
                        //- //- .form-group
                        //-     label.col-sm-2.control-label 上次登录时间
                        //-     .col-sm-10
                        //-         p.form-control-static #{moment(user.last_login_date).format('LLL')}
                        //- .form-group
                        //-     label.col-sm-2.control-label 上次登录IP
                        //-     .col-sm-10
                        //-         p.form-control-static #{user.last_login_ip}



